<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.socialmediaapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".socilalinksmanagement.friends.FindNewFriendsActivity">
        </activity>
        <activity android:name=".socilalinksmanagement.dates.matches.PotentialMatchesActivity">
        </activity>
        <activity android:name=".socilalinksmanagement.dates.ReviewDateActivity">
        </activity>
        <activity
                android:name=".socilalinksmanagement.SocialLinksManagementActivity"
                android:label="Social Links">
        </activity>
        <activity
                android:name=".profile.RegisterActivity"
                android:label="Register">
        </activity>
        <activity
                android:name=".profile.LandingActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>